{{#unless hideStats}}
  <div class="player">
    <span class="name">{{player.name}} <span class="nowrap">[LVL {{player.stats.lvl}}]</span></span>

    {{> stat-bar
        class="health"
        label="HP"
        current=player.health
        max=player.healthMax
        percentage=player.healthPercentage}}

    {{> stat-bar
        class="lust"
        label="Lust"
        current=player.lust
        max=player.lustMax
        percentage=player.lustPercentage}}
  </div>

  <div class="opponent">
    <span class="name">{{#if enemy.name}}{{enemy.name}}{{else}}{{enemy.title}}{{/if}} <span class="nowrap">[LVL {{enemy.stats.lvl}}]</span></span>

    {{> stat-bar
        class="health"
        label="HP"
        hidden=true
        percentage=enemy.healthPercentage}}

    {{> stat-bar
        class="lust"
        label="Lust"
        hidden=true
        percentage=enemy.lustPercentage}}
  </div>
{{/unless}}
