{{#unless hideStats}}
  <div class="player">
    <span class="name"><span class="nowrap">[LVL {{player.stored.lvl}}]</span> you</span>

    {{> stat-bar
        class="health"
        label="HP"
        current=player.health
        max=player.healthMax
        percentage=player.healthPercentage}}

    {{> stat-bar
        class="lust"
        label="Lust"
        current=player.lust
        max=player.lustMax
        percentage=player.lustPercentage}}
  </div>

  <div class="opponent">
    <span class="name"><span class="nowrap">[LVL {{enemy.stored.lvl}}]</span> {{#if enemy.name}}{{enemy.name}}{{else}}{{enemy.title}}{{/if}}</span>

    {{> stat-bar
        class="health"
        label="HP"
        current=enemy.health
        max=enemy.healthMax
        hidden=hideEnemyNumbers
        percentage=enemy.healthPercentage}}

    {{> stat-bar
        class="lust"
        label="Lust"
        current=enemy.lust
        max=enemy.lustMax
        hidden=hideEnemyNumbers
        percentage=enemy.lustPercentage}}
  </div>
{{/unless}}
