<div id="app-container">
  {{#if static}}
    <div class="static">{{{static}}}</div>
  {{/if}}

  {{#if text}}
    <div class="dialogue">{{{text}}}</div>
  {{/if}}

  <ul class="options">
    {{#each responses}}
      <li
        class="option {{#if @first}}focus{{/if}} {{#if disabled}}disabled{{/if}}"
        {{#if back}}back{{/if}}
        choice="{{id}}">
        {{#if back}}
          ◄&nbsp;
        {{else}}
          {{#if index}}
            <b>{{index}}.</b>
          {{/if}}
        {{/if}}
        {{{text}}}
      </li>
    {{/each}}
  </ul>
</div>
<div id="app-version">
  <a href="https://github.com/two-as-one/sub-domain/blob/master/CHANGELOG.md" target="_blank">version {{VERSION}}</a>
</div>